
/*-----------------------------------------------------------------------------------*/
/*	Typography
/*-----------------------------------------------------------------------------------*/

$font: 14px/22px "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, Sans-serif;

$main-typeface: "";
$heading-typeface: "";

/*-----------------------------------------------------------------------------------*/
/*	Colours
/*-----------------------------------------------------------------------------------*/

$black: #333;
$white: #FFF;
$light-grey: #cccccc;
$dark-grey: #191b20;


/*-----------------------------------------------------------------------------------*/
/* Placeholders
/*-----------------------------------------------------------------------------------*/

%post-width {
	width: 85%;
	margin: 0 auto;
}

%letter-spacing {
	letter-spacing: -0.08em;
}


%typeface-main {
	font-family: $main-typeface;
}

%typeface-headings {
	font-family: $heading-typeface;
}

%typeface-color-main {
	
	color: $black;
}

%typeface-color-accent {
	color: $accent;
}

%transition {
	@include transition(0.12s);
}


/*-----------------------------------------------------------------------------------*/
/*	Mixins
/*-----------------------------------------------------------------------------------*/


@mixin responsive( $screen_type ) {

	@if $screen_type == desktop {

		@media ( max-width: 1220px ) { @content; }

		} @else if  $screen_type == tablet{

			@media ( max-width: 768px ) { @content; }
			
			} @else if $screen_type == mobile {
				
				@media ( /* Mobile and up */ min-width: 479px ) and ( max-width: 767px ) { @content; }

			}
		}


@mixin pad_top_bottom($top: 0, $bottom: 0) {
	padding-top: $top+px;
	padding-bottom: $bottom+px;
}

@mixin pad_left_right($left: 0, $right: 0) {
	padding-left: $left+px;
	padding-right: $right+px;
}

@mixin margin_top_bottom($top: 0, $bottom: 0) {
	margin-top: $top+px;
	margin-bottom: $bottom+px;
}

@mixin margin_left_right($left: 0, $right: 0) {
	margin-left: $left+px;
	margin-right: $right+px;
}

@mixin border($direction, $px, $style, $col) {
	
	border-#{$direction}:$px+px, $style, $col;
}

@mixin typeface-color-main() {

	color: $black;
}

@mixin typeface-color-accent() {
	color: $accent;
}














