//	Reset optional - bootstrap is included, use the one where the mood takes you.
// @import "reset";
// @import  "compass/reset";

@import "compass/css3";
@import "variables";

/* --------------------------------------------------------------
TABLE OF CONTENTS
----------------------------------------------------------------
1.0 - Typography
2.0 - Global Styles
3.0 - Header Styles
4.0 - Post Styles
5.0 - Comment Styles
6.0 - Archive Styles
7.0 - Footer Styles
-------------------------------------------------------------- */

/*-----------------------------------------------------------------------------------*/
/*	1.0 Typography
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*	Type Settings(baseline etc)
/*-----------------------------------------------------------------------------------*/

$baseFontSize: 14;
$baseLineHeight: 1.5;
$leading: $baseLineHeight * 1rem;
$scale: 1.414;


html, body, button, input, select, textarea  {
	font-size: $baseFontSize / 16 * 100%;
}


h1, h2, h3, h4, h5, h6 {

	font-weight: 700;
	line-height: $leading;
	margin-top: $leading;
	margin-bottom: 10px;
}


/*-----------------------------------------------------------------------------------*/
/*	Heading Styles
/*-----------------------------------------------------------------------------------*/

h1 {

	font-size: 3 * $scale * 1rem;
	line-height: 3 * $leading;
	margin-top: 2 * $leading;
}

h2 {

	font-size: 2 * $scale * 1rem;
	line-height: 2 * $leading;
	margin-top: 2 * $leading;

}

h3 {

	font-size: 1 * $scale * 1rem;
}

h4 {

	font-size: $scale / 2 * 1rem;
}

h5 {

	font-size: $scale / 3 * 1rem;
}

h6 {

	font-size: $scale / 4 * 1rem;
}



/*-----------------------------------------------------------------------------------*/
/*	Text Styles
/*-----------------------------------------------------------------------------------*/

p, span {

	font-size: $leading;

}

blockquote {
	line-height: $leading;
	margin-top: $leading;
	margin-bottom: $leading;
	padding-top: $leading;
	padding-bottom: $leading;
}


/*-----------------------------------------------------------------------------------*/
/*	Code styles
/*-----------------------------------------------------------------------------------*/

code, kbd, tt, var {
 	 font: 13px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
 }


/*-----------------------------------------------------------------------------------*/
/*	Anchor Tag Styles
/*-----------------------------------------------------------------------------------*/

a {
	@include transition(0.15s);
	
	&:hover {
		text-decoration: none;
	}
}



/*-----------------------------------------------------------------------------------*/
/*	List Styles
/*-----------------------------------------------------------------------------------*/

ul{
	list-style: square;
	 li {
		// list-style-type: none;
	}
}


/*-----------------------------------------------------------------------------------*/
/* 	2.0	Global Styles
/*-----------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------*/
/*	3.0 Header Styles
/*-----------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------*/
/*	4.0 Post Styles
/*-----------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------*/
/*	5.0 Comment Styles
/*-----------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------*/
/*	6.0 Archive Styles
/*-----------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------*/
/*	7.0 Footer Styles
/*-----------------------------------------------------------------------------------*/
























