// @import  "compass/reset";

// @import "compass/";
@import "compass/css3";
@import "variables";

/* --------------------------------------------------------------
TABLE OF CONTENTS
----------------------------------------------------------------
1.0 - Base Setup

2.0 - Typography
2.1 - Headings
2.2 - Text
2.3 - Anchors
2.4 - Lists
2.5 - Menus
2.6 - Form

3.0 - Structure Styles
4.0 - Body Styles
5.0 - Header Styles
6.0 - Post Styles
7.0 - Page Styles
8.0 - Comment Styles
9.0 - Archive Styles
10.0 - Footer Styles
-------------------------------------------------------------- */

/*-----------------------------------------------------------------------------------*/
/*	1.0 Base Setup
/*-----------------------------------------------------------------------------------*/
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  // font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  // height: 100%;
}

body {
  background: #fff;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}


body,button,input,select,textarea {
  font-weight: normal;
  font-size: 14px;
  font-size: 1.4em;
}

/*------------------------------------------------------------------------------------
   2.0 Typography
-----------------------------------------------------------------------------------
	2.1 Heading Styles
-----------------------------------------------------------------------------------*/


h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-weight: bold;
  margin-bottom: 1em;
}

h1 {
  font-size: 32px;
  font-size: 3.2rem;
  margin-bottom: 3rem;
}

h2 {
  font-size: 26px;
  font-size: 2.6rem;
}

h3 {
  font-size: 21px;
  font-size: 2.1rem;
}

h4 {
  font-size: 18px;
  font-size: 1.8rem;
}

h5 {
  font-size: 16px;
  font-size: 1.6rem;
}

h6 {
  font-size: 14px;
  font-size: 1.4rem;
}


/*-----------------------------------------------------------------------------------
	2.2 Text Styles
-----------------------------------------------------------------------------------*/

p, span {
	margin-bottom: 2em;
}

span {}

blockquote {
  @include border('left', 30, 'solid', $black);
}



/*-----------------------------------------------------------------------------------
	2.3 Anchor Tag Styles
-----------------------------------------------------------------------------------*/
a {
	@include transition(0.15s);
  // text-decoration: none;
  color: $black; 

  &:hover {
    color: $accent;
  }
}


/*-----------------------------------------------------------------------------------
	2.4 List Styles
-----------------------------------------------------------------------------------*/

ul, ol{
	list-style: square;
  li {
    list-style-type: none;
  }
}

/*-----------------------------------------------------------------------------------
 2.5 Menus / Nav Elements
-----------------------------------------------------------------------------------*/

.navigation, #navigation, nav {}

/*-----------------------------------------------------------------------------------
  Code styles
-----------------------------------------------------------------------------------*/

code, kbd, tt, var, pre {
 font: 13px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}



/*-----------------------------------------------------------------------------------
  2.6 Form Styles
-----------------------------------------------------------------------------------*/

form, input,textarea {}


/*-----------------------------------------------------------------------------------
 	3.0	Structure styles
-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------
  4.0 Body Styles (Meant as a global style)
-----------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------
	3.0 Header Styles
-----------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------
	4.0 Post Styles
-----------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------
	5.0 Comment Styles
-----------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------
	6.0 Archive Styles
-----------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------
	7.0 Footer Styles
-----------------------------------------------------------------------------------*/


