
/*--------------------------------------
*
* Typography Styles
*
--------------------------------------*/

@import "variables";
@import "compass/css3";


/*---------------------------------------
*
*	Type settings (baseline etc)
*
---------------------------------------*/

$baseFontSize: 22;
$baseLineHeight: 1.5;
$leading: $baseLineHeight * 1rem;
$scale: 1.414;

/*---------------------------------------*/


html {
	font-size: $baseFontSize / 16 * 100%;
}


p,
a,
span,
h1,
h2,
h3,
h4,
h5,
h6 {

}


h1, h2, h3, h4, h5, h6 {

	font-weight: 700;
	line-height: $leading;
	margin-top: $leading;
	margin-bottom: 10px;
}


/**-------------------------------------
*
* Heading Styles
*
--------------------------------------*/

h1 {

	font-size: 3 * $scale * 1rem;
	line-height: 3 * $leading;
	margin-top: 2 * $leading;
}

h2 {

	font-size: 2 * $scale * 1rem;
	line-height: 2 * $leading;
	margin-top: 2 * $leading;

}

h3 {

	font-size: 1 * $scale * 1rem;
}

h4 {

	font-size: $scale / 2 * 1rem;
}

h5 {

	font-size: $scale / 3 * 1rem;
}

h6 {

	font-size: $scale / 4 * 1rem;
}



/*-------------------------------------
*
* Text Styles
*
--------------------------------------*/

p, span {

	font-size: $leading;

}


blockquote {
	line-height: $leading;
	margin-top: $leading;
	margin-bottom: $leading;
	padding-top: $leading;
	padding-bottom: $leading;
}


/*-------------------------------------
*
* Anchor Tags
*
--------------------------------------*/



a {
	@include transition(0.15s);
	&:hover {
		text-decoration: none;
	}
}


/*-------------------------------------
*
* List Styles
*
--------------------------------------*/


ul li, li {

	list-style-type: none;
}











