
/*-----------------------------------------------------------------------------------*/
/*	Typography
/*-----------------------------------------------------------------------------------*/

	$font: 14px/22px "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, Sans-serif;


/*-----------------------------------------------------------------------------------*/
/*	Colours
/*-----------------------------------------------------------------------------------*/

	$black: #333;
	$white: #FFF;
	$light-grey: #f7f7f7;
	$dark-grey: #BBB;


/*-----------------------------------------------------------------------------------*/
/*	Custom Mixins and Placeholders
/*-----------------------------------------------------------------------------------*/

	%post-width {
		width: 85%;
		margin: 0 auto;
	}

	%letter-spacing {
		letter-spacing: -0.08em;
	}

	@mixin responsive( $screen_type ) {

		@if $screen_type == desktop {

			@media ( max-width: 1220px ) { @content; }
			
		} @else if  $screen_type == tablet{

			@media ( max-width: 768px ) { @content; }
			
		} @else if $screen_type == mobile {
				
				@media ( /* Mobile and up */ min-width: 479px ) and ( max-width: 767px ) { @content; }

		}
	}



