/*==============================================
	Typography
===============================================*/
/*==============================================
	Colours
===============================================*/
/*==============================================
	Custom Mixins
===============================================*/
/*-----------------------------------------------------------------------------------*/
/*	Global Styles
/*-----------------------------------------------------------------------------------*/
body {
  color: red;
  background-color: blue;
  font-family: Helvetica;
}

/*-----------------------------------------------------------------------------------*/
/*	Header Styles
/*-----------------------------------------------------------------------------------*/
nav {
  color: red;
}
nav a {
  font-size: 12px;
}
nav a:hover {
  color: blue;
}

/*-----------------------------------------------------------------------------------*/
/*	Global Post Styles
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*	Global Post Single Styles
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*	Comment Styles
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*	Archive Styles
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*	Footer Styles
/*-----------------------------------------------------------------------------------*/
